body {
    background: url('pes.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
  }
  
  .logo {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .payment-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .payment-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .payment-container p {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .payment-container button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .payment-container button:hover {
    background-color: #e65c00;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
  }
  
  footer a {
    color: #ff6600;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }